[submodule "sskeychain"]
	path = sskeychain
	url = https://github.com/Abizern/sskeychain.git
[submodule "ECSlidingViewController"]
	path = ECSlidingViewController
	url = https://github.com/edgecase/ECSlidingViewController.git
